* {
    box-sizing: border-box;
    padding: 2px;
  }

h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

#p1 {
    background-color: #ce5d5d;
}
#p2 {
    background-color: #ce2c2c;
    color: white;
}
#p3 {
    background-color: #f3a948;

}

p {
    border: 2px solid black;
    width: 33.33%;
    height: 40px;
    margin: -4px;
    padding-top:6px;
    text-align: center;
    font-family: Arial;
    float: right;
    font-weight: bold;
    font-size: 20px;
  }

.div1 {
    align-content: center;
    background-color: grey;
    border: 2px solid black;
    height: 170px;
    position: relative;
    top: 60px;
}

span {
  margin: 2px;
  font-size: 16px;
  position: absolute; 
  bottom: 10px;
  top: 50px;
}


/* Simple Responsive Framework. */
.row {
    width: 100%;
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      margin: 1%;
    }
    .col-lg-4 {
      width: 31.33%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      margin: 1%;
    }
    .col-md-6 {
      width: 48%;
    }
    .col-md-12 {
      width: 98%;
    }
  }

/********** Small devices only **********/
@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .csm-md-10, .col-sm-11, .col-sm-12 {
      float: left;
      margin: 1%;
    }
    .col-sm-12 {
      width: 100%;
    }
  }